In [5]:
import pandas as pd
import numpy as np

from scipy.stats.mstats import hmean, gmean

import statistics
from scipy import stats
import math

In [2]:
df = pd.read_csv('../../dados/census.csv')
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### Calcule a média aritmética, média harmônica, média geométrica, média quadrática, a mediana e a moda. Compare os resultados

In [4]:
# Média Aritmética

media_aritmetica = df.age.mean()
media_aritmetica

38.58164675532078

In [7]:
# Média Harmônica
media_harmonica = hmean(df.age)
media_harmonica

33.91874139089839

In [8]:
# Média Geométrica
media_geometrica = gmean(df.age)
media_geometrica

36.210879158177256

In [10]:
# Média Quadrática
def quadratic_mean(df):
    return math.sqrt(sum(n * n for n in df) / len(df))

media_quadratica = quadratic_mean(df.age)
media_quadratica

40.9218664329987

In [11]:
mediana = df.age.median()
mediana

37.0

In [17]:
moda = df.age.mode()
moda

0    36
Name: age, dtype: int64

In [14]:
df.age.describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [15]:
m = {'Média Aritmética': media_aritmetica, 'Média Harmônica': media_harmonica, 'Média Geométrica':media_geometrica,
     'Média Quadrática': media_quadratica, 'Mediana':mediana, 'Moda':moda}

{'Média Aritmética': 38.58164675532078,
 'Média Harmônica': 33.91874139089839,
 'Média Geométrica': 36.210879158177256,
 'Média Quadrática': 40.9218664329987,
 'Mediana': 37.0,
 'Moda': 0    36
 Name: age, dtype: int64}

In [18]:
medidas = pd.DataFrame(m)
medidas

,Média Aritmética,Média Harmônica,Média Geométrica,Média Quadrática,Mediana,Moda
0,38.581647,33.918741,36.210879,40.921866,37.0,36