In [1]:
import pandas as pd
import numpy as np

In [30]:
base = pd.read_csv('SINASC_RO_2019.csv')

In [31]:
base.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [32]:
mes = base['DTNASC']
mes_lista = []
for i in mes:
    data_slice = str(i)
    data_final = data_slice[5:7]
    mes_lista.append(data_final)

    
base['mes'] = mes_lista

base['mes']

0        02
1        02
2        02
3        03
4        03
         ..
27023    12
27024    10
27025    08
27026    12
27027    12
Name: mes, Length: 27028, dtype: object

In [33]:
base_jan = base[base['mes'] == '01']
base_jan['DTNASC'].max(), base_jan['DTNASC'].min()

('2019-01-31', '2019-01-01')

In [34]:
base_fev = base[base['mes'] == '02']
base_fev['DTNASC'].max(), base_fev['DTNASC'].min()

('2019-02-28', '2019-02-01')

In [35]:
#pegando a base de março

base_mar = base[base['mes'] == '03']
base_mar['DTNASC'].max(), base_mar['DTNASC'].min()

('2019-03-31', '2019-03-01')

In [36]:
base_abr = base[base['mes'] == '04']
base_abr['DTNASC'].max(), base_abr['DTNASC'].min()

('2019-04-30', '2019-04-01')

In [37]:
base_maio = base[base['mes'] == '05']
base_maio['DTNASC'].max(), base_maio['DTNASC'].min()

('2019-05-31', '2019-05-01')

In [38]:
base_junho = base[base['mes'] == '06']
base_junho['DTNASC'].max(), base_junho['DTNASC'].min()

('2019-06-30', '2019-06-01')

In [39]:
base_feve = pd.merge(base_jan, base_fev, how = 'outer')
base_feve['DTNASC'].min(), base_feve['DTNASC'].max()

('2019-01-01', '2019-02-28')

In [20]:
base_mar = pd.merge(base_feve, base_mar, how = 'outer')
base_mar['DTNASC'].min(), base_mar['DTNASC'].max()

('2019-01-01', '2019-03-31')

In [26]:
base_mar.to_csv('SINASC_RO_2019_MAR.csv')

In [40]:
base_abril = pd.merge(base_mar, base_abr, how = 'outer')
base_abril['DTNASC'].min(), base_abril['DTNASC'].max()

('2019-03-01', '2019-04-30')

In [27]:
base_abril.to_csv('SINASC_RO_2019_ABR.csv')

In [41]:
base_maio = pd.merge(base_abril, base_maio, how = 'outer')
base_maio['DTNASC'].min(), base_maio['DTNASC'].max()

('2019-03-01', '2019-05-31')

In [43]:
base_maio.to_csv('SINASC_RO_2019_MAI.csv')

In [25]:
base_junho = pd.merge(base_maio, base_junho, how = 'outer')
base_junho['DTNASC'].min(), base_junho['DTNASC'].max()

('2019-01-01', '2019-06-30')

In [28]:
base_junho.to_csv('SINASC_RO_2019_JUN.csv')

In [29]:
base.to_csv('SINASC_RO_2019_DEZ.csv')